.container {
    text-align: center;
    }
  
  h1 {
    color: #ffffff;
    font-weight: 600px;
    font-style: italic;
    
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    color: #ffffff;
    font-size: 18px;
  }

  .styles-bgcolor {
    background-color: black;
    color: aliceblue;

  }
  